* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 25px;
}

@media screen and (min-wdth: 768px) {
    .container {
        width: 700px;
        margin: 0 auto;
    }   

}

@media screen and (min-wdth: 992px) {
    .container {
        width: 900px;
    }       
}

@media screen and (min-wdth: 1200px) {
    .container {
        width: 1170px;
    }   
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
